<h2>Shopping Book</h2>
<div class="row">
  <div class="col-md-10">
    <app-shopping-list-edit></app-shopping-list-edit>
    <hr />
    <ul class="list-group">
      <li>
        <!-- добавим метод enEditItem() для редактирования айтема в shopping list;
        и извлечем id ингридиента используя let i = index в цикле ngFor -->
        <a
          style="cursor: pointer"
          class="list-group-item"
          *ngFor="let ingedient of ingredients; let i = index"
          (click)="onEditItem(i)"
          >{{ ingedient.name }} ({{ ingedient.amount }})</a>
      </li>
    </ul>
  </div>
</div>
