<div class="row">
  <div class="col-xs-12">
    <!--
      Начнем с управления котролами формы.
      1. Добавим метод onAddIngredients с дирекивой (ngSubmit)
      2. Так же добавим localreferences #form с значением ngForm и передадим #form в метод submit
     -->
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            ngModel
            required/>
        </div>
        <div class="col-sm-2 form-group">
          <label for="">Amount</label>
          <!--
            Добавим валидацию в amount, используем регулярное выражение и pattern. pattern="^[1-9]+[0-9]*$"
            что будет означать, верны все значения что > 0;
           -->
          <input
            type="number"
            id="amount"
            class="form-control"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-toolbar">
            <button
              class="btn btn-default btn-success"
              type="submit"
              [disabled]="!form.valid"
              >{{ editMode ? 'Update' : 'Add' }}</button>
            <button
              class="btn btn-danger"
              type="button"
              (click)="onDelete()"
              *ngIf="editMode">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onClearForm()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
